<!-- sidebar.html -->

{% block content %}
  <!-- Main Sidebar Container -->
  <aside style="position: fixed;" class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{% url "index"%}" class="brand-link">
      <span class="brand-text font-weight-light">Golden Book</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <!-- User's image here -->
        </div>
        <div class="info">
          <a href="{% url "index"%}" class="d-block">Book Store</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <a href="{% url "book"%}" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>All Books</p>
            </a>
          </li>
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-copy"></i>
              <p>
                Category
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a id="addcat" href="#" class="nav-link">
                  <i class="fa fa-plus"></i>
                  <p class="text-light">Add New</p>
                </a>
              </li>
              <form id="cat" method="POST">
                <div id="catinput">
                  {% csrf_token %}
                  {{ formcat.as_p }}
                  <button type="submit" class="btn btn-success">Save</button>
                  <button id="backcat" class="btn btn-primary">Back</button>
                </div>
              </form>
               <!-- إضافة زر "All" بنفس الستايل -->
               <li style="cursor: pointer;" class="nav-item categories{{ all_categories.id }}">
                <a id="all-category-sidebar" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>All</p>
                </a>
            </li>
              {% for category in categories %}
              <li style="cursor: pointer;" class="nav-item categories{{ category.id }}">
                  <a id="" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>{{ category.name }}</p>
                  </a>
              </li>
              {% endfor %}
             
            
              
            </ul>
          </li>

          <li class="nav-header">الحالة</li>
          <li style="cursor: pointer;" class="nav-item sold">
            <a id="statusSold" class="nav-link">
              <i class="nav-icon far fa-circle text-danger"></i>
              <p class="text">تم بيعه</p>
            </a>
          </li>
          <li style="cursor: pointer;" class="nav-item rented">
            <a id="statusRented" class="nav-link">
              <i class="nav-icon far fa-circle text-warning"></i>
              <p>تم استعارته</p>
            </a>
          </li>
          <li style="cursor: pointer;" class="nav-item available">
            <a id="statusAvailable" class="nav-link">
              <i class="nav-icon far fa-circle text-info"></i>
              <p>متاح</p>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </aside>
{% endblock %}
